@model Final_Project.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this?</h2>
<div>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>*@
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantity)
            </td>
            @*<td>
                <img src="@Url.Content(Model.ImagePath)" width="100" height="100" />
            </td>*@
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

